/* estados: invalid */
.input-wrapper input:invalid,
.select-wrapper select:invalid,
.textarea-wrapper textarea:invalid {
  border: 0.125rem solid var(--semantic-error);
}

/* helper/descrição abaixo do campo */
.input-wrapper small {
  font: var(--text-sm);
  color: #78716c;
  display: inline-block;
  margin-top: .25rem; /* agora funciona :) */
}

[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;

    font: var(--text-sm);
    color: var(--semantic-error);
    margin-top: .25rem;
}

:not(:focus):valid + .error {
    display: none;
}